{{yield}}
{{#if (gt items.length 0)}}
  <ul class="service-list">
    {{#each items as |item|}}
    <li>
      <a href={{href-to routeName item.Name}}>
        <span>
          {{item.Name}}
        </span>
        <YieldSlot @name="metadata" @params={{block-params item}}>
          {{yield}}
        </YieldSlot>
      </a>
    </li>
    {{/each}}
  </ul>
{{/if}}